footer {
    p {
        font-size: calc(1rem + 2vw);
        margin: 25px 0;
        text-align: center;
    }
    a {
        font-family: $font-3;
        font-size: calc(1rem + 2vw);
        color: $color-1;
    }
}