.skills {
    margin: 200px 0 250px;
    h2 {
        margin-bottom: 150px;
    }
    .wrapper {
        margin: 30px 0;
    }
    .appear {
        text-align: center;
    }
    p {
        font-size: calc(1rem + 6vw);
        font-family: $font-3;
        letter-spacing: 4px;
        background: $color-1;
        color: $color-2;
        display: inline-block;
    }
}