@font-face {
  font-family: "font-light";
  src: url(../fonts/Lato-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "font-regular";
  src: url(../fonts/Lato-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "font-bold";
  src: url(../fonts/Lato-Bold.ttf);
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}
*::selection {
  background-color: #000101;
  color: #fefeff;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "font-regular", sans-serif;
  background-color: #000101;
  color: #fefeff;
  transition: 0.7s ease-in-out;
}
body h2 {
  font-size: calc(3rem + 5vw);
  text-align: center;
  color: rgb(217, 217, 217);
  font-family: "font-bold", sans-serif;
  letter-spacing: 3px;
}
body h2.title {
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 0;
}
body span {
  display: inline-block;
}
body a, body a:visited {
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: #fefeff;
  transition: 0.1s linear;
  font-size: calc(0.8rem + 0.8vw);
}
body a::after, body a:visited::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #fefeff;
  bottom: -4px;
  left: 0;
  transform-origin: left;
}
body a:hover, body a:visited:hover {
  transform: scale(1.04);
  color: rgb(217, 217, 217);
}
body a:hover::after, body a:visited:hover::after {
  animation: animLink 1.8s ease-in-out;
}
@keyframes animLink {
  50% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}
body .img {
  height: 395px;
  width: 100vw;
  max-width: 395px;
  margin: 0 auto;
  filter: grayscale(100%);
  transition: 1.5s;
}
body .img:hover {
  filter: grayscale(10%);
}
body .line {
  height: 2px;
  width: 70%;
  margin: 0 auto;
  background: #000101;
  transition: 1s cubic-bezier(0.77, 0, 0.18, 1);
  transform-origin: left;
  transition-delay: 0.7s;
}

header {
  height: 100vh;
  position: relative;
  margin: 2vw 2vw 0;
}
header .links {
  display: flex;
  justify-content: space-between;
}
header h1 {
  font-size: calc(2rem + 8vw);
  margin-top: 70px;
  font-family: "font-bold", sans-serif;
  letter-spacing: 6px;
  color: #fefeff;
}
header h2 {
  font-size: calc(1rem + 6.5vw);
  margin: 18px 0;
  text-align: left;
}
header .scroll-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3.5vw;
  color: rgb(217, 217, 217);
  font-size: calc(0.8rem + 0.5vw);
}

.about {
  margin: 400px 0 250px;
}
.about .h2-wrapper {
  mix-blend-mode: exclusion;
  margin: -220px 0 200px;
}
.about .img1 {
  display: flex;
  justify-content: center;
}
.about p {
  width: 70%;
  min-width: 280px;
  text-align: center;
  margin: 0 auto;
  line-height: calc(7px + 4.5vw);
  font-size: calc(1rem + 1vw);
  letter-spacing: 1px;
}

.skills {
  margin: 200px 0 250px;
}
.skills h2 {
  margin-bottom: 150px;
}
.skills .wrapper {
  margin: 30px 0;
}
.skills .appear {
  text-align: center;
}
.skills p {
  font-size: calc(1rem + 6vw);
  font-family: "font-bold", sans-serif;
  letter-spacing: 4px;
  background: #000101;
  color: #fefeff;
  display: inline-block;
  padding: 0 12px 0 12px;
}

.portfolio {
  margin: 200px 0;
}
.portfolio .projet-container {
  margin-top: 100px;
}
.portfolio .project {
  position: relative;
  width: 60vw;
  max-width: 600px;
  margin: 50px 5vw;
}
.portfolio .project img {
  transition: 0.4s ease-out;
  width: 100%;
}
.portfolio .project .project-infos {
  position: absolute;
  top: 50%;
  transform: translate(-50px, -50%);
  margin-left: 8vw;
  transition: 0.4s ease-out;
  opacity: 0;
}
.portfolio .project .project-infos a {
  font-size: calc(1rem + 3vw);
}
.portfolio .project .project-infos p {
  font-size: 2rem;
  margin-top: 1.5vw;
  color: #fefeff;
}
.portfolio .project:hover img {
  filter: brightness(20%);
}
.portfolio .project:hover .project-infos {
  opacity: 1;
  transform: translate(0, -50%);
}
.portfolio #projet-2 {
  margin: 0 6vw 0 auto;
}
.portfolio #projet-3 {
  margin-left: 8vw;
}

footer p {
  font-size: calc(1rem + 2vw);
  margin: 25px 0;
  text-align: center;
}
footer a {
  font-family: "font-bold", sans-serif;
  font-size: calc(1rem + 2vw);
  color: #000101;
}

/*# sourceMappingURL=style.css.map */
